@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
  margin: 0;
  font-family: 'Indie Flower', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9b59b6;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.listing {
  padding: 1rem 1rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 3) transform;
  cursor: pointer;
}

.listing:hover {
  transform: scale(0.991)
}

.listing h2 {
  margin: 0;
}

.listing-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

svg {
  float: right;
}

.formContainer {
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 700px;
  max-width: 100%;
  overflow: hidden;
}

form {
  padding: 30px 40px;
}

.inner-form {
  padding: 0;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  font-family: inherit;
  ;
}

#submit-button {
  width: 100%;
  background-color: #9b59b6;
  font-size: 25px;
  font-family: inherit;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: -21px;
  visibility: hidden;
}

.form-control small {
  visibility: hidden;
}

.form-control label {
  font-weight: normal;
}

.form-control.error small {
  visibility: visible;
}

.form-control.error input {
  border: solid red 2px;
}

.form-control.success input {
  border: solid green 2px;
}

.form-control.success .fa-check-circle {
  visibility: visible;
}

.form-control.error .fa-exclamation-circle {
  visibility: visible;
}

.fa-exclamation-circle {
  color: red;
}

.fa-check-circle {
  color: green;
}

fieldset {
  border: none;
  border-top: 2px solid;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

input {
  padding-top: 3px;
}

.Addbutton {
  width: 100%;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  font-size: large;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: inherit;
  margin-bottom: 1.5rem;
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 3) transform;
  cursor: pointer;
}

.Addbutton:hover {
  transform: scale(0.991);
}